<link rel="stylesheet" href="views/css/style.css">

<div class="showcase">
  <div class="showcase-pattern">
    <div class="container">
                    <div class="row">
                        <div class="span12 product-background">
                            <div class="row">
                                <div class="span7 product-title">
                                    <h1>SEARCH FOR COURSES</h1>
                                    <h2>Rate classes. see reviews, and find classmates</h2> 
                                    <br>
                                    <br>

                                    <div class="input-group">
                                      <input type="text" class="form-control search-bar" placeholder="Search for...">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default search-button" type="button">Search</button>
                                      </span>
                                    </div><!-- /input-group -->

                                    
                                        <!-- <form action="assets/subscribe.php" method="post" class="subscribe">
                                            <input type="text" name="email" class="email" placeholder="Enter your email">
                                            <button type="submit">Get it now!</button>
                                        </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  </div>
</div>

<style src="../css/style.css"></style>
<script type="../controllers/answers.js"></script>
<script type="../controllers/questions.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">


