
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Question</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addComments()">
        <div class="form-group">
          <label>Add a Question</label>
          <br><br>
          <input type="userinput" list="pasta" onClick="this.select();" value="" placeholder="Search" id="away">

                    <datalist id="pasta">
                        <option>What is difference between Java and JS?</option>
                        <option>How to deploy a node app to Linux server?</option>
                        <option>Others</option>
                    </datalist>


          <br>
          <input type="text" class="form-control" ng-model="comments.comments" placeholder="Title">
        </div>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>
