<link rel="stylesheet" href="views/css/style.css">

<div ng-init="getQuestions()" ng-controller="QuestionsController">  
  <div ng-repeat="question in questions">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">#{{question.hashtag}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
      		<h4>{{question.question}}</h4>      			            
      	</div>
        <div class="row" >
          <div class="cube">
            <img src = "resources/images/Profile_avatar.png">                       
          </div>
          <div class="name">
            <p>{{question.name}} <br />
              {{question.credential}}</p>
          </div>
        </div>

        <div ng-init="getQuestions()" ng-controller="QuestionsController">  
          <!-- <div ng-repeat="answer in answers"> -->
            
            <div class="row" style="padding-top:10px" data-ng-init="checkAnswerButton(question.answer)">
              {{question.answer}}
            </div>
            <br>
            <div>
              <button ng-click="sendEmail()">Follow Up</button>
            </div>
          <!-- </div> -->
        </div>
      </div>


      <div class="panel-footer">
        <div class="row" >
          <div class="cube">
            <img src = "resources/images/Profile_avatar.png">                       
          </div>
          <div class="name" style="padding-bottom:20px;">
            <p><b>{{question.commentername}} </b> {{question.comment}}
          </div>          
        </div>
        <div class="row">
          <div class="cube">
            <img src = "resources/images/jeanne.jpg">                       
          </div>
          <div class="name">
            <input type="text" name="FirstName" placeholder="Write a comment..." style="width:100%;height:40px">
          </div>          
        </div>
      </div>
      <button class="btn btn-primary btn-lg AnswerButton" data-toggle="modal" data-ng-init="HaveAnswerButton()" onclick="OpenModal(this.id)"> Answer</button>

        <div class="modal fade ModalID" id="myModalHorizontal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" data-ng-init="ChangeModalID()" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add Answers to
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  <div class="form-group">

                    <label  style="font-size: 18px;" class="col-sm-2 control-label QuestionName">{{question.question}}</label>
                    <!-- <div class="col-sm-10">
                        <input type="email" class="form-control" 
                        id="inputEmail3" placeholder="Email"/>
                    </div> -->
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"
                          for="inputPassword3" >Answer:</label>
                    <div class="col-sm-10">
                      <textarea type="text" rows="12" class="form-control answerPanel" data-ng-init="ChangeAnswerID()"
                            id="inputAnswer" placeholder="Your Answer..."></textarea>
                    </div>
                  </div>
                </form>          
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Cancel
                </button>
                <button type="button" class="btn btn-primary" onclick="submitAnswer();" id="submitMyAnswer" name="submission">
                    Submit
                </button>
            </div>
        </div>
    </div></div>
<!-- </div> -->


<div class="modal fade warningModal" id="EmptyInput" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true" data-ng-init="ChangeWarningID()">
     <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Invalid Inputs
                </h4>
            </div>
            <div class="modal-body">
        <p>NO Empty Answers.</p>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

            </div>
            </div>
            </div>
      </div>
    </div>
  </div>

<style src="../css/style.css"></style>
<script type="../controllers/answers.js"></script>
<script type="../controllers/questions.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

