
.container-fluid {
    height: 60px;
}

/*.container{
    width: 1170px;
}*/

.navbar{
    margin-bottom: 0;
}

/*.showcase{
    position: relative;
    z-index: 0;
    background: none;
    margin: 0 auto;
}*/



.navbar-brand {
    height: 60px;
    padding: 19px 15px;
    font-size: 20px;
    margin-left: 0 !important;
}

.navbar-default{
	border-top: 3px solid #5F9F9D; 
    width: fixed;
}

.navbar-default .navbar-brand{
    /*color: white;*/
}

.navbar-default .navbar-brand :hover{
    /*color: white !important;*/
}

.navbar-right{
    margin-right: 2em;
    padding-top: 6px;
}

.navbar-default .navbar-nav > li > a{
    /*color: white;*/
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a :hover{
    /*color: white;*/
    font-size: 15px;
}

.dropdown-menu > li > a {
    font-size: 16px;
}

.navbar-btn{
    margin-left: 0.5em;
    border-radius: 20px;
    font-size: 15;
    border: 2px solid #5F9F9D;
    margin-top: 7px;
    outline: none !important;
}

.dropdown-menu{
    position: relative;
    z-index: 100;
}

.product-background {
    margin-top: 100px;
    padding-bottom: 40px;
    background: #2d2d2d;
    background: rgba(45,45,45,.7);
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.product-title{
    color:white;
    text-align: center;
}

.product-title > h1{
    font-size: 50px;
    font-family: 'Palanquin Dark', sans-serif;
}

.product-title > h2{
    font-family: 'Palanquin', sans-serif;
}

.search-button{
    width: 150px;
    margin-right: 2em;
    height: 40px;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background: #5F9F9D;
    color: white;
    outline: none !important;
    font-family: 'Raleway', sans-serif;
}

.search-bar{
    height: 40px;
    font-size: 20px;
    margin-left: 3em;
    width: 850px !important;
    border-radius: 0;

}

.showcase-pattern{
    /*margin: 0 auto;*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../resources/images/Northwestern_.jpg);
    /*background-size: contain;*/
    height: 91.5%;
    width: 100%;
}

.showcase-login{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../resources/images/Northwestern.jpg);
    height: 100%;
    width: 100%;
}

.login-background{
    width: 600px;
    margin-right: auto; 
    margin-left: auto;
    background: #F5F5F7 !important;
    background: -webkit-linear-gradient(left, #F5F5F7 , #eee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #F5F5F7, #eee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #F5F5F7, #eee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #F5F5F7 , #eee); /* Standard syntax */
    background: rgba(45,45,45,.7);
}

.login-title{
    color: black;
    font-size: 24px !important;
}

.login-title > a{
    color: black;
}

.login-title > a:hover{
    text-decoration: none !important;
    color: #555;
}

.login-box{
    position:relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}

.lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
}

.lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.lb-header .active{
    color: #81D2C7;
    font-size: 18px;
}

.social-login{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
    margin-left: 28px; 
}

.social-login a{
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 14px;
    margin: 0 3%;
    text-align:center;
}

.social-login a i{
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}

.social-login a:first-child{
    background-color: #49639F;

}
.social-login a:last-child{
    background-color: #0177B5;
}

.email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
    
}
.u-form-group{
    width:100%;
    margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
    width: 50%;
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
    font-size: 16px;
}

.u-form-group input:focus{
    border-color: #358efb;
}

.u-form-group button{
    width:50%;
    background-color: #81D2C7;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}