<div ng-controller='CommentsController'>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><strong>NU EECS Course Rating</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/course_list">Classes</a></li>
        <li class="dropdown">
          <a href="#/course_rate" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="ShowMenu()">Useful Links<span class="caret"></span></a>
          <ul class="dropdown-menu" id="nav-dropdown">
            <li><a href="http://www.mccormick.northwestern.edu/contact/tech-room-finder.html">Tech Room Finder</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.mccormick.northwestern.edu/eecs/">EECS Department</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/">Something else here</a></li>
          </ul>
        </li>

        <a href="#/login">
        <li>
        <button type="button" class="btn btn-default navbar-btn">LOG IN</button>
        </li>
        </a>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="showcase">
  <div class="showcase-pattern">
    <div class="container">
                    <div class="row">
                        <div class="col-xs-12 product-background">
                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-8 product-title">
                                    <h1>SEARCH FOR COURSES</h1>
                                    <h2>Rate classes, see reviews, and find classmates</h2> 
                                    <br>
                                    <br>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-xs-1"></div>
                              <div class="col-xs-10 input-group input-group-lg">
                                <input type="text" class="form-control col-xs-4" placeholder="Search for...">

                                <div class="input-group-btn">
                                  <button class="btn btn-success search-button" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                  Search</button>
                                </div>

                              </div>
                            </div>

                        </div>
                    </div>
                          


                                <!-- <div class="col-xs-12">
                                    <div class="input-group col-xs-12">
                                      <input type="text" class="form-control search-bar col-xs-4" placeholder="Search for...">
                                      <span class="input-group-btn col-xs-4">
                                        <button class="btn btn-default search-button" type="button">Search</button>
                                      </span>
                                    </div> /input-group --> 

                                    
                                        <!-- <form action="assets/subscribe.php" method="post" class="subscribe">
                                            <input type="text" name="email" class="email" placeholder="Enter your email">
                                            <button type="submit">Get it now!</button>
                                        </form> -->
                                
    </div>
  </div>
</div>
</div>