img{width:100%;}

.icon {
	display: inline-block;
}

.navbar-header input{
    background:#fff no-repeat 13px 13px;
    background-image:url("../resources/images/search.png");
    border: none;
    width: 300px;
    line-height: 19px;
    padding: 11px 0;
    margin-top: 5px;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4  inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #738289 ;
    font-weight: bold;
    outline: none;
    text-indent: 40px;
}