<html ng-app="course-list">
<head>
  <title>CoEva</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/nav-style.css">
  <link rel="stylesheet" href="css/table-style.css">
  <link rel="stylesheet" href="css/courselist-style.css">

  <link rel="SHORTCUT ICON" href="./resources/images/CoEva.png">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
  


  <!-- <link rel="stylesheet" href="resources/five-star-rating/css/rating.min.css"> -->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css"> -->
  <!-- <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> -->


  

</head>
<body ng-controller="course-list">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="main.html">
        <img alt="Brand" src="./resources/images/CoEva.png" height="25px">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="description.html"><strong>CoEva</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="course_list_nologin.html" class="">Classes</a></li>
        <!-- <li><a href="home.html">Message</a></li> -->
        <!-- <li><a href="profile.html">Profile</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Useful Links<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.caesar.northwestern.edu/" target="_blank">CAESAR</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.mccormick.northwestern.edu/contact/tech-room-finder.html" target="_blank">Tech Room Finder</a></li>
            <li role="separator" class="divider"></li>
           <li><a href="http://www.mccormick.northwestern.edu/eecs/" target="_blank">EECS Department</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://serif.nu/" target="_blank">Serif.NU</a></li>
          </ul>
        </li>
        <form class="navbar-form navbar-left" action="chat_login.html">
          <button type="submit" class="btn btn-default nav-login">
          Log in</button>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>COURSE LISTING</h1>

        <div class="col-sm-2">
          <nav class="nav-sidebar">
          <ul class="nav tabs">
              <li class="active" ng-click="getQuarter('2017 Winter')"><a data-target="#tab3" data-toggle="tab">Winter 2017</a></li> 
              <li class="" ng-click="getQuarter('2016 Fall')"><a data-target="#tab1" data-toggle="tab">Fall 2016</a></li>
              <li class="" ng-click="getQuarter('2016 Spring')"><a data-target="#tab2" data-toggle="tab">Spring 2016</a></li>
              <li class="" ng-click="getQuarter('2016 Winter')"><a data-target="#tab2" data-toggle="tab">Winter 2016</a></li>
              <li class="" ng-click="getQuarter('2015 Fall')"><a data-target="#tab2" data-toggle="tab">Fall 2015</a></li>                                         
          </ul>
          </nav>
        </div>

        <div class="col-sm-10">
          <div class="jumbotron">
              <h2 class="display-3">SEARCH BY</h2>

                <p class="lead">
                  <div class="col-xs-12">
                    <input type="text" class="form-control" placeholder="Course ID, Course Name, or Instructors" ng-model="searchCourse">
                    <h5 class="display-3">LOGIN to see more course details</h5>
                 </div>
                </p>
              </div>


          
            <table class="table table-striped table-condensed table-hover" data-ng-init="load_course()">
                  <thead>
                  <tr>
                      <th>ID</th>
                      <th>Course Name</th>
                      <th>Professor</th>
                      <th><a href="#" ng-click="sortType = 'rating'; sortReverse = !sortReverse">
                      Rate/Num
                      <span ng-show="sortType == 'rating' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'rating' && sortReverse" class="fa fa-caret-up"></span>
                      </a></th>

                      <!-- <th style="text-align: center">Status</th> -->                            
                  </tr>
                  </thead>   
              <tbody>

                <tr ng-repeat="courseI in courses | orderBy:sortType:sortReverse | filter:searchCourse">
                    <td style="text-align: center">{{ courseI.course_id }}</td>
                    <td>{{ courseI.title }}</td>
                    <td>{{ courseI.instructor }}</td>
<!--                     <td>{{ courseIl.meeting_day_time }}</td> -->
                    <td style="text-align: center"><h4><span class="label" ng-class="{'label-danger': courseI.rating <= 2.5, 'label-warning': courseI.rating < 4.0 && courseI.rating > 2.5, 'label-success': courseI.rating >=4.0 && courseI.rating < 5}">{{ courseI.rating }} / {{courseI.no_of_students}}</span></h4>
                    </td>                                      
                </tr>                                  
              </tbody>
            </table>
                </div>
                </div>
        </div>
    </div>
</div>



  <!-- <script src="resources/five-star-rating/js/dist/rating.min.js"></script> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<!--   <script src="js/angular.min.js"></script>
  <script src="js/jquery.min.js"></script> -->
  <script src="js/course_list.js"></script>

</body>
</html>
