<html ng-app="myApp">
<head>
  <title>CoEva</title>
  <link rel="stylesheet" href="css/nav-style.css">
  <link rel="stylesheet" href="css/description-style.css">

  <link rel="SHORTCUT ICON" href="./resources/images/CoEva.png">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="resources/five-star-rating/css/rating.min.css"> 

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css"> -->
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="main.html">
        <img alt="Brand" src="./resources/images/CoEva.png" height="25px">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="description.html"><strong>CoEva</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="course_list_nologin.html" class="">Classes</a></li>
        <!-- <li><a href="chat_home.html">Message</a></li>
        <li><a href="profile.html">Profile</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Useful Links<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.caesar.northwestern.edu/" target="_blank">CAESAR</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://www.mccormick.northwestern.edu/contact/tech-room-finder.html" target="_blank">Tech Room Finder</a></li>
            <li role="separator" class="divider"></li>
           <li><a href="http://www.mccormick.northwestern.edu/eecs/" target="_blank">EECS Department</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://serif.nu/" target="_blank">Serif.NU</a></li>
          </ul>
        </li>
        <form class="navbar-form navbar-left" action="chat_login.html">
          <button type="submit" class="btn btn-default nav-login">
          Log in</button>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active 1st_img">
      <!-- <div class="outside1"></div> -->
      <img class="d-block img-fluid" src="./resources/images/classroom_edit.jpg" alt="First slide">
       <div class="carousel-caption d-none d-md-block">
        <div class="full-width">
        <h1><span style="color: #5F9F9D; font-size: 100px"><strong>CoEva</strong></span></h1>
        <!-- <hr> -->
        <h3><span style="color: #8AE2D5;">Best</span> class selection experience you will ever have.</h3>
        <h3>Our <span style="color: #8AE2D5;">unique</span> rating system lets you find the class you want.</h3>
        <br>
        <hr width="80%">
        <br>
        <h4>Currently supporting <span style="color: #8AE2D5;">EECS department</span> courses only, will integrate soon.</h4>
        <h4>Follow us on <a href="https://twitter.com/TeamCoEva" target="_blank"><i width="128px" height="128px" class="fa fa-twitter" aria-hidden="true"></i> @CoEva</a> for updates.</h4>
       </div>
       </div>
    </div>
    <div class="item 2nd_img">
      <img class="d-block img-fluid" src="./resources/images/rate_edit.jpg" alt="Second slide">
       <div class="carousel-caption d-none d-md-block">
        <div class="full-width">
          <h1>With <span style="color: #5F9F9D; font-size:60px;">CoEva</span>, you can:</h1>
          <hr width="60%">
          <h3><span style="color: #8AE2D5;">Rate</span> your classes</h3>
          <h3><span style="color: #8AE2D5;">View</span> ratings of the courses you want</h3>
          <h3><span style="color: #8AE2D5;">Ask</span> peers about course details, in real time</h3>
          <br>
        </div>
       </div>
    </div>
    <div class="item 3rd_img">
      <img class="d-block img-fluid" src="./resources/images/classmate_edit.jpg" alt="Third slide">
       <div class="carousel-caption d-none d-md-block">
       <div class="full-width">
          <h2>No more surprises, no more disappointments.</h2>
          <h2><span style="color: #8AE2D5;">Honest</span> ratings, <span style="color: #8AE2D5;">honest</span> answers.</h2>
          <hr width="74%">
          <a href="chat_login.html"><button type="button" class="btn btn-lg" >Start</button></a>
          <br>
          <br>
          <br>
       </div>
       </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
  </a>
  </a>
</div>

  <!-- <script src="resources/five-star-rating/js/dist/rating.min.js"></script> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/description.js"></script>

</body>
</html>