.col-sm-10 > .jumbotron{
	padding-top: 20px !important;
	padding-bottom: 80px !important;
}

.jumbotron > .col-xs-12{
	padding-left: 0;
}

input[type="text"]{
	height: 3em;
}

.nav-sidebar { 
    width: 100%;
    padding: 10px 0; 
    border-right: 1px solid #ddd;
    font-size: 18px;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}

.nav-sidebar .active a { 
    cursor: default;
    background-color: #5F9F9D; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #7DCFB6;   
}

.nav-sidebar .active a:focus {
    background-color: #5F9F9D; 
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

table{
    font-size: 15px;
}
table > thead > tr > th:nth-child(1){
    text-align: center;
    width: 6%;
}
table > thead > tr > th:nth-child(2){
    width: 15%;
    padding-left: 1em;
}
table > thead > tr > th:nth-child(3){
    width: 6%;
}
table > thead > tr > th:nth-child(4){
    width: 2%;
    text-align: center;
}
table > thead > tr > th:nth-child(5){
    width: 2%;
    text-align: center;
}
table > thead > tr > th:nth-child(6){
    width: 2%;
    text-align: center;
}
table > tbody > tr > td:nth-child(2){
    padding-left: 1em;
}

.modal-header{
    background-color: #5F9F9D;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header > h4{
    font-family: 'Bitter', serif;
}
.modal-footer > button{
    background: #5F9F9D;
    color: white;
    font-size: 16px;
}
.modal-footer > button:hover{
    color: white;
}
.modal-body > h4{
    color: #5F9F9D;
}
.image-list{
    overflow:auto;
}
.image-list > .images > a > img{
    margin-left: 1em;
}

.col-sm-12 > .col-sm-2{
    width: 14%;
    padding-left: 0;
}

.col-sm-12 > .col-sm-10{
    width: 86%;
    padding-left: 10px;
}

.modal-body > table > thead > tr > th{
    height: 30 !important;
    padding-left: 8px; 
}

#ratetable > thead{
    background: #5F9F9D;
    color: white;
    font-size: 14px !important;
}

#ratetable > thead > tr > th {
    text-align: center;
    padding: 1px;
}

#ratetable > thead > tr > th:nth-child(1){
    width: 5%;
}

#ratetable > thead > tr > th:nth-child(2){
    width: 5%;
}

#ratetable > thead > tr > th:nth-child(3){
    width: 5%;
}

#ratetable > thead > tr > th:nth-child(4){
    width: 10%;
}

#otherRateTable > thead > tr > th:nth-child(1){
    width: 5%;
}

#otherRateTable > thead > tr > th:nth-child(2){
    width: 5%;
}

#otherRateTable > thead > tr > th:nth-child(3){
    width: 5%;
}

#otherRateTable > thead > tr > th:nth-child(4){
    width: 5%;
}




