body{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../resources/images/Northwestern.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-title{
    color: black;
    font-size: 30px !important;
    text-transform: capitalize !important;
}

input[type='text'],
input[type='password'],
input[type='email']{
    height: 45px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

input:focus{
    border-color: #358efb;
    outline: none;
}

h2{
    margin-bottom: 20px;
}

.btn-login{
    color: white;
    background-color:#5F9F9D; 
    font-size: 18px;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-login:hover{
    color: white;
    background-color:#9cc4c3;
    font-size: 19px;
    border: #9cc4c3;
}

.login > .input-group, .register > .input-group{
    width: 100%;
}

.signup-on-login, .login-on-signup{
    color: #5F9F9D;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer !important;
}

.register > .input-group{
    margin-bottom: 0px !important;
    margin-top: 12px;
}

form > .input-group{
    margin-bottom: 0px !important;
    margin-top: 12px;
}

form{
    margin-bottom: 0;
}

.register > .alert-group > .alert{
    font-size: 12px;
    height: 18px;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
}

.modal-footer > .btn-primary{
    background: #5F9F9D;
    color: white;
}

.modal-footer > .btn-primary:hover{
    background: #5F9F9D;
    color: white;
}

.modal-title{
    color: #5F9F9D;
    font-size: 18px;
}

.modal-body{
    text-align: left !important;
}

.Title{
    font-size: 18px;
}


.modal-body > .claimer{
     padding-left: 30px;
     margin-top: 10px;
     font-size: 16px;
     /*font-family: 'Roboto Slab', serif;*/
}

.modal-body > .claimer > ul{
     margin-top: 5px;
     font-size: 14px;
     /*font-family: 'Roboto Slab', serif;*/
}


