.vcenter{
    padding-top: 7px;
}

table > tbody > tr > td{
	vertical-align: middle !important;
}

.modal-header{
    background-color: #5F9F9D;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header > h4{
    font-family: 'Bitter', serif;
}

.modal-footer > .btn-primary{
    background: #5F9F9D;
    color: white;
    font-size: 16px;
    border: none;
}

.modal-footer > .btn-primary:hover{
	background: #5F9F9D;
    color: white;
}

.modal-footer > .btn-secondary{
    color: white;
    font-size: 16px;
    border: none;
}

.modal-footer > .btn-secondary:hover{
    color: white;
}

.modal-body h4{
    color: #5F9F9D;
}

table > tbody{
    font-size: 15px;
}

table > thead{
    font-size: 18px;
}

table > thead > tr > th:nth-child(1){
    text-align: center;
    width: 6%;
}
table > thead > tr > th:nth-child(2){
    width: 20%;
    padding-left: 3em;
}
table > thead > tr > th:nth-child(3){
    width: 10%;
}
table > thead > tr > th:nth-child(4){
    width: 6%;
}
table > thead > tr > th:nth-child(5){
    width: 8%;
    text-align: center;
}
table > thead > tr > th:nth-child(6){
    width: 5%;
    text-align: center;
}


table > tbody > tr > td:nth-child(2){
    padding-left: 3em;
}
table > tbody > tr > td:nth-child(6){
    text-align: center;
}
table > tbody > tr > td:nth-child(6) > button{
    outline: none;
}

td > h3{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-body > .alert-group > .alert{
    font-size: 12px;
    height: 18px;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0;
}

#rateYo{
    display: inline-block;
}

#rateNumber{
    display: inline-block;
    min-width: 40px;
    text-align: center;
    font-size: 20px;
    height: 30px;
    background-color: #5F9F9D;
    color: white;
    margin-left: 10px;
    font-weight: bold;
    position: absolute;
    margin-top: 8px;
    border-radius: 3px;
}

