thead{
    background: #5F9F9D;
    color: white;
}

.table > thead > tr > th {
    height: 50;
    vertical-align: middle !important;
    padding-left: 8px; 
}

th > a{
	color: white;
}

th > a:hover{
	color: #ddd;
	text-decoration: none;
}

th > a:focus{
	color: white;
	text-decoration: none;
}

.modal-body > table > thead > tr > th{
	height: 30 !important;
	padding-left: 8px; 
}

.modal-body > table{
	width: 50%;
}